@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  margin: 0;
  height: 100dvh;
  min-height: -webkit-fill-available;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("heart-bg.jpg");
  background-size: cover;

  font-family: 'Jua', sans-serif;
}


/* 봉투 */
#envelope { width: 140px; }

/* ===== 핵심 ===== */
.letter-window {
  width: 92vw;
  max-width: 410px;

  max-height: 86dvh;     /* ← 이게 핵심 */
  aspect-ratio: 1 / 1.05;



  background-image: url("window.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* 내용이 체크무늬 안쪽에 오게 */
  padding-top: 21%;
  padding-left: 8%;
  padding-right: 8%;

  box-sizing: border-box;
}


  

/* 내용 */
.cat { width: 140px; }

#game-area {
  width: 100%;
  font-size: 16px;
  text-align: center;
}

/* 하트 */
.find-heart {
  position: absolute;
  font-size: 32px;
}

/* 버튼 */
.buttons {
  display: flex;
  gap: 14px;
}

.btn { width: 90px; }

/* 폭죽 */
.heart {
  position: absolute;
  font-size: 24px;
  animation: fly 1.4s forwards;
}

@keyframes fly {
  0% { transform: translateY(0); opacity:1; }
  100% { transform: translateY(-160px); opacity:0; }
}



@media (max-width: 430px) {   /* 아이폰16프로 너비 */

    .letter-window {
      max-height: 84dvh;
      padding-top: 20%;
    }
  
    h1 { font-size: 16.5px; }
  
    .cat { width: 108px; }
  
    .btn { width: 76px; }
  
    #game-area {
      font-size: 14.5px;
    }
  }
  